*{
    margin: 0 auto;
    font-size: 24px;
}
div{
    text-align: center;
    margin-top: 5%;
}
form{
    text-align: center;
    margin-top: 5%;
}
input{
    margin: 5px;
}
a{
    display: block;
    text-align: center;
}
table{
    margin-top: 5%;
}
.labelName{
    font-size: 16px;
}